
@font-face {
  font-family: 'Digital';
  src: url('./fonts/digital7.ttf');
}


.inputForm{
  border-style:solid;
  border-width:1px;
  border-color:yellow;
  /* margin-top:50%; */
 
}



.footer{
  max-height:30px;
  position:fixed;
  bottom:-1px;
  background:grey;
}


.card {
  max-width:15rem;
  border-radius:55px;
  margin:auto;
}

.card-img-top{
  border-radius:inherit;
  border-style:solid;
  border-color:black;
  border-width:1px;
}

.card-title {
  color:black;
}



.content-container{
  display:flex;
  flex-direction:column;
  border-style:solid;
  border-color:yellow;
  border-width:1px;
  margin-top:50px;
  width:100%;
  gap:50px;
}

p {
  font-family:"Digital";
  color:black;

}

.card-header:first-child{
    font-family:"Digital";
    color:cornflowerblue;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    background-color:black;
    font-size:1.5rem; 
}

.App {
  text-align: center;
  background-color:black;
  background-image:url("./images/Space.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  background-position:5%;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index:-1;
}


.Navigation{
  width:100%;
  font-family:"Digital";
  position: -webkit-sticky;
  position:sticky;
  top: -1px;
  z-index:1;
}

.dropdown-menu {
  background-color:grey;
}

.btn{
  margin-bottom:5px;
}
